.topo{
    width: 100%;
    height: 56px;
    background-color: #045FB4;
}
.h5{
    margin-top: 20px;
}
.container{
    width: 600px;
    font-family:  Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.containerlg{
    width: 800px;
    font-family:  Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.txtCentralizado{
    text-align: center;
}

.label{
    margin-bottom: 0px;
}

.btn{
    border-radius: 0px;
    width: 200px;
}
.assinatura{
    border-top: 1px solid #000;
}
.assinatura, .txtass{
    text-align: center;
    float: right;
    width: 300px;
}
.recibo{
    font-family: Roboto;
    width: 800px;
    margin: auto;
}

@media only screen and (max-width:800px){
    .container, .btn{
        width: 100%;
    }
    .label2{
        margin-top: 10px;
    }
}